:root {
  box-sizing: border-box;
  font-family: system-ui;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  flex-grow: 0;
}

.header__title {
}
.header__navigation {
  margin-left: auto;
}

.week {
  border-spacing: 0;
  border-collapse: collapse;
  flex-shrink: 0;
  height: 120vh;
  table-layout: fixed;
  width: 100%;
}

.week td,
.week th {
  padding: 0;
}

.week > col:first-of-type {
  width: 80px;
}

.week__row {
  vertical-align: top;
}

.week__row.min-content {
  height: min-content;
}

.title {
  flex: 1;
}

.day__events + .day__events,
.day__all-day-events + .day__all-day-events {
  border-left: 1px solid lightgrey;
}

.day__all-day-events {
  border-bottom: 3px solid lightgrey;
  border-top: 1px solid lightgrey;
}

@media (min-height: 800px) {
  .calendar {
    height: 100vh;
  }
}

.events,
.times {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.events {
  background-image: repeating-linear-gradient(
    180deg,
    lightgrey,
    lightgrey 1px,
    transparent 1px,
    transparent 4.166%
  );
  margin-top: 0.5rem;
}

.times {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-right: 0.5rem;
}

.label {
  color: lightgrey;
  font-size: 0.75rem;
  font-weight: 400;
}

/* HACK: add an empty flex child so labels align veritcally */
.times::after {
  content: "";
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
