.days {
  display: flex;
  flex: 1 0 calc(var(--event-min-height) * 24);
  margin: 0.5rem 1rem;
  position: relative;
}

.days > article {
  flex: 1;
}

.days > article + article {
  border-left: solid 1px lightgrey;
}

.day {
  background-image: repeating-linear-gradient(
    180deg,
    lightgrey,
    lightgrey 1px,
    transparent 1px,
    transparent 4.166%
  );
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -0.5rem;
  padding-right: 0.5rem;
  flex: 0 0 var(--time-column-width);
}

/* HACK: add an empty flex child so labels align veritcally */
.times::after {
  content: "";
}

.now {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  border: solid 1px tomato;
  width: 100%;
}
