.all-day-events {
  border-bottom: solid 3px var(--chrome-subtle);
  border-top: solid 1px var(--chrome-subtle);
}

.all-day-events > .label {
}

.all-day-events > li:not(.label) + li {
  border-left: solid 1px var(--chrome-subtle);
}
