.day {
  background-image: repeating-linear-gradient(
    180deg,
    lightgrey,
    lightgrey 1px,
    transparent 1px,
    transparent 4.166%
  );
}

.day__events {
  align-content: start;
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.day__events > li {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: var(--event-min-height);
  position: relative;
}
