.days {
  flex: 1 0 calc(var(--hour-min-height) * 24);
  margin: 0.5rem 1rem;
  position: relative;
}

.days > article + article {
  border-left: solid 1px var(--chrome-subtle);
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -0.5rem;
}

/* HACK: add an empty flex child so labels align veritcally */
.times::after {
  content: "";
}
