.event {
  background-color: var(--chrome-highlight);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 0.825rem;
  margin: 0.125rem;
  overflow: hidden;
  padding: 0.25rem;
}

.event__time,
.event__title {
  flex: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event__time {
  order: -1;
}
