.header {
  align-items: center;
  display: flex;
  flex-grow: 0;
  grid-column: grid-start / grid-end;
  margin-bottom: 1rem;
}

.title__month::after {
  content: "\020";
}

.title__year {
  font-weight: 200;
}
