@import "./components/index.css";

.calendar {
  --chrome-background: white;
  --chrome-highlight: tomato;
  --chrome-subtle: rgba(127, 127, 127, 0.25);

  --day-min-width: 80px;
  --event-min-height: 1.5rem;
  --hour-min-height: 3rem;
  --time-column-width: 60px;

  background-color: var(--chrome-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: auto;
}

.calendar__header {
  background-color: var(--chrome-background);
  flex: none;
  padding: 1rem 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
